#body1 {
    background-color: black;
  }
  #body1 .logo-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px;
    grid-template-rows: 300px;
  }
  #body1 .logo-grid .column img {
    width: 100%;
  }
  #body1 .logo-grid .column .grid-logo-wrapper {
    position: relative;
  }
  #body1 .logo-grid .column .grid-logo-wrapper .grid-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transform: translateY(-30px);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
  }
  #body1 .logo-grid .column .grid-logo-wrapper .grid-logo.active {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
  }
  #body1 {
    background-color: #1d1d1d;
    font-family: "Asap", sans-serif;
    color: #989898;
    margin: 0 10px;
    font-size: 16px;
  }